<h1>Blog List</h1>
<% if @blogs.count == 0 %>
<p>
  It looks like you haven't saved any blogs yet!
</p>
<% end %>
<table>
  <thead>
    <tr>
      <th>Blogs</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @blogs.each do |blog| %>
    <tr>
      <td><%= link_to blog.name, blog.url %></td>
      <td><%= button_to "Delete", blog_reader_update_path, method: :patch %></td>
    </tr>
  <% end %>
  </tbody>
</table>  

<p>
  <%= link_to "Add Blog to Profile", "#" %>
</p>