<h1>Profile</h1>

<% if @blogs.count > 0 %>
  <table>
    <thead>
      <th>Blogs</th>
    </thead>
    <tbody>
      <tr>
        <% @blogs.each do |blog| %>
        <td><%= link_to blog_name, blog_url %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
  <% else %>
    <p>
      It looks like you haven't put any blogs in your profile yet!
    </p>
  <% end %>